@{
  Layout = "_Layout";
}
<div>
  <h1>Stylist Client Data for Eau Claire's Salon</h1>
</div>
<div>
  <p>@Html.ActionLink("See list of active stylists","Index","Stylists")</p>
  <p>@Html.ActionLink("See list of active clients", "Index", "Clients")</p>
</div>